@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* @import "material-icons/iconfont/material-icons.css"; */

/* #home {
    background-image: url("assets/top.jpg");
    background-repeat: no-repeat;
    background-size: contain;
} */